# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual Enviroment
bin
include
lib
lib64
pip-wheel-metadata/
share/python-wheels/
pyvenv.cfg

# PyInstaller folders
build
dist
*.spec

# Vscode
.vscode/

# statistics files
*_stats.csv

# ignore user configuration files, but keep comfiguration template
*.json
!team.json
